<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
      id="com.simplec.websocket"
      version="0.1.11">

    <name>WebSocket</name>
    
    <keywords>phonegap,websocket,android</keywords>
    
    <description>
      Phonegap plugin which adds support for websockets under iOS.  Safari websocket is incompatible with watson STT. 
    </description>
    
    <license>MIT</license>

    <author>Douglas Nelson</author>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module src="www/safari-websocket.js" name="SafariWebSocket">
		<clobbers target="window.plugins.websocket" />
    </js-module>

    <platform name="ios">
        <source-file src="src/ios/JFRSecurity.m" />
        <header-file src="src/ios/JFRSecurity.h" />
        <source-file src="src/ios/JFRWebSocket.m" />
        <header-file src="src/ios/JFRWebSocket.h" />
        <source-file src="src/ios/JFRWebSocketPlugin.m" />
        <header-file src="src/ios/JFRWebSocketPlugin.h" />
        <source-file src="src/ios/Base64.m" />
        <header-file src="src/ios/Base64.h" />
        
		<config-file target="config.xml" parent="/*">
            <feature name="SafariWebSocket">
				<param name="ios-package" value="JFRWebSocketPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
</plugin>
